.mainAppContainer {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  /* position: relative; */
  /* transition: background-color 0.5s ease; */
}

.introMsgText {
  font-size: xx-large;
  color: white;
  text-align: center;
}
