
.env
data/*
music/*
notebooks/.cache
*/.flask_session/*
*/.spotify_caches/*
*/__pycache__/*
.ipynb_checkpoints
*/.ipynb_checkpoints/*
spotify-playlists/node_modules
.cache
__pycache__/
.vscode/settings.json
